@import "./transactions.css";

.edit-btn {
  background-color: #f4a93b;
  border: none;
  padding: 0.45rem 0.9rem;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.85rem;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.edit-btn:hover {
  background-color: #d98a1f;
}

.delete-btn {
    background-color: #d9534f;
    border: none;
    padding: 0.45rem 0.9rem;
    border-radius: 6px;
    font-weight: 600;
    font-size: 0.85rem;
    cursor: pointer;
    color: white;
    transition: 0.2s;
  }
  
  .delete-btn:hover {
    background-color: #b52b27;
  }
  
  .edit-mode-btn {
    background-color: #244b9b;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    font-size: 0.9rem;
  }
  
  .edit-mode-btn:hover {
    background-color: #173579;
  }

  .row-editable {
    cursor: pointer;
    transition: 0.15s;
  }
  
  .row-editable:hover {
    background-color: #f1f4f9;
  }
  
